
.btn {
  cursor: pointer;
  
  &:hover {
    filter: brightness(1.2);
  }

  &:active {
    filter: brightness(0.8);
  }
}

.tool {
  top: 20px;
  left: 40px;
  position: fixed;
}

.tool-item {
  height: 26px;
  padding: 0 @space;
  width: 80px;
  background-color: @black;
  display: flex;
  align-items: center;
}

.shadow-page {
  box-shadow: inset 0 0 100px #000;
}